[Unit]
Description=Take a backup of the system

[Service]
Type=simple
User=root
ExecStart=/ust/bin/kopia snapshot create /

[Install]
WantedBy=multi-user.target
